
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fasit</title>
    </head>
        <h1>Langrenn krimgåte</h1>

        <p>Klæbu og Legkov dro hjem sammen klokken 0000. Sundby
                var han som dro hjem først, 1100. Men kom tilbake igjen klokken 00:30, og sa han glemte igjen telefonen.
                Helner gikk på do (i krangel) klokken mellom 0030 og 0100, der satt Sundby og ventet på dem. Helner dro hjem og var på hotellet
                klokken 0100, der Klæbo måtte ned og åpne. Da forlot han Legkov på rommet klokken 0100. Sundby var den som ble igjen med Northug til sist, dette
                gir Kløbo alibi på. I tillegg forteller Sundby at han hadde lagt igjen telefonen på baren, men både Klæbo og Sundby forteller at de klæbo måtte
                ringe Sundby for å komme inn på hotellet klokken 00:00. Sundby lyver, og det tyder på at Sundby er den skyldige.</p>
   
        <h1>Tidslinje over hendelsene</h1>
        <p>S (hjem:2300) -- K&L (hjem:0000) -- S (tilbake til bar:0030) -- H&N på do (mellom 0030 - 0100) -- H&N tilbake til bar (mellom 0030 - 0100) H (hjem 0100)-- Sundby sitter igjen med Northug</p>
     </html>
    