
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style>body{ margin:0 100; background:rgb(240, 218, 193); }</style>
    </head>
    <body>
        <h1>Langrenn krimgåte</h1>

        <!-- *** Section 1 *** --->
        <h2>Kan du løse mysteriet?</h2>
        <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/f9d1d0d7-ce95-41a5-9c4f-9b0afd326161">
        </iframe>
        <p>Mistenkte: Marcus Helner, Alexander Legkov, Johannes Klæbo og Martin Sundby</p>
        
        <h2>Oppgave beskrivelse</h3>

    </body>
</html>